*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/Documents/NetBeansProjects/JavaApplication1/nbproject/private/
/Documents/NetBeansProjects/JavaApplication1/build/
/Documents/NetBeansProjects/JavaProgect1/nbproject/private/